body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mark {
  height: 600px;
  width: 600px;
}

main {
  display: flex;
  justify-content: space-around;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .mark {
    height: 300px;
    width: 100%;
  }

  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}
